<div class="container">
<h1 class="display-5">
  Welcome to E-Kart
</h1>
<p><b>Team Name: </b>Mostly Cloudy</p>
<p><b>Team ID: </b>08</p>
<div class="card-deck" style="margin-top: 50px;">
<div class="card" style="width: 18rem; padding: 10px;">
   <div class="text-center">
   <img class="card-img-top" src="https://image.flaticon.com/icons/svg/2948/2948249.svg" alt="Card image cap" style="height:100%;width: 20%;">
   </div>
   <div class="card-body">
     <h5 class="card-title">List of Products </h5>
     <h6 class="card-subtitle mb-2 text-muted">Here you can see all the job list you can also edit the job list</h6>
     <a href="/products" class="btn btn-outline-dark">view List </a>
   </div>
 </div>
 <div class="card" style="width: 18rem; padding: 10px;">
   <div class="text-center">
   <img class="card-img-top" src="https://image.flaticon.com/icons/svg/888/888189.svg" alt="Card image cap" style="height:100%;
   width: 20%;">
   </div>
   <div class="card-body">
     <h5 class="card-title">View your orders </h5>
     <h6 class="card-subtitle mb-2 text-muted">Here you can see your order history</h6>
     <a href=" /login" class="btn btn-outline-dark">View orders </a>
   </div>
 </div>
 </div>
 </div>