<div class="container">
<div class="alert alert-success" role="alert">
    <img src="https://image.flaticon.com/icons/svg/929/929440.svg" class="img-fluid" style="width: 40px;height: 40px;" >
   Your Operation is successful.....
  </div>
  <a class="btn btn-large btn-success" href="/">Close</a>
  </div>
  